<main class="min-h-screen bg-slate-950 text-slate-100">
  <div class="bg-[url('/bg2.jpg')] bg-cover bg-center">
    <div class="relative max-w-7xl mx-auto min-h-full justify-content  overflow-hidden px-4 sm:px-6 lg:px-8">
      <app-hero-services [hero]="hero()"></app-hero-services>
    </div>

  </div>
  <!-- <div class="absolute inset-x-0 bottom-0 h-32 bg-gradient-to-t from-slate-950 to-transparent"></div> -->
  <div>
    <app-features-services [features]="features()"></app-features-services>
  </div>

</main>